{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="pt-5 pb-5 container"> 
    <br>
    <div class="contenido p-5">  
        <h1 class="text-start pb-3">Editar Curso</h1> 
        <form method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}
             
            <div class="mb-3">
                {{ form.titulo|as_crispy_field }}
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form.imagen_portada|as_crispy_field }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.docente|as_crispy_field }}
                </div>
            </div>
              
            <div class="mb-3">
                {{ form.descripcion|as_crispy_field }}
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    {{ form.fecha_inicio|as_crispy_field }}
                </div>
                <div class="col-md-3 mb-3">
                    {{ form.fecha_fin|as_crispy_field }}
                </div>
                <div class="col-md-3 mb-3">
                    {{ form.nivel|as_crispy_field }}
                </div>
                <div class="col-md-3 mb-3">
                    {{ form.duracion|as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Editar Curso</button> 
            <a class="btn  btn-secondary" href="{% url 'listar_cursos' %}"> eliminar </a>
        </form>   
    </div> 
</section>

{% endblock %}