{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Panel Principal</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <!-- Navbar superior -->
  <nav class="navbar navbar-dark bg-nav fixed-top">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"> Panel Principal</span>
    </div>
  </nav>

  <!-- Sidebar -->
  <div class="sidebar">
    <a href="{% url 'home' %}">Inicio</a>
    <a href="{% url 'listar_docentes' %}">Listar Docentes</a>
    <a href="{% url 'listar_estudiantes' %}">Listar Estudiantes</a>
    <a href="{% url 'listar_cursos' %}">Listar Cursos</a>
    <a href="{% url 'listar_inscripciones' %}">Listar Inscripciones</a>
    <a href="/admin/">admin</a>
    <a href="#">Configuración</a>
  </div>

  <!-- Contenido principal -->
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>